 <div class="container">
        <h1>{{this.title}}</h1>
        <section class="post">
            <h3 class="post-title">{{this.title}}</h3>
            <p>by {{this.user.username}} on {{this.createdAt}}</p>
            <p class="post-content">{{this.content}}</p>
        </section>

{{#if logged_in}}
    <form class="comment-form">
        <textarea id="comment-text" placeholder="Enter your comment"></textarea>
        <button type="submit">Submit Comment</button>
    </form>
{{/if}}

<!-- Comments Section -->
        {{#if comments.length}}
            <div class="comments-section">
                <h3>Comments</h3>
                {{#each comments}}
                    <div class="comment">
                        <p>{{comment_text}}</p>
                        <p><strong>{{this.user.username}}</strong> commented on {{this.createdAt}}:</p>
                        <p>{{this.content}}</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>No comments yet. Be the first to comment!</p>
        {{/if}}
</div>


<script src="/js/comment.js"></script>